<p id="notice"><%= notice %></p>

<h1>Comentarios</h1>

<table>
  <thead>
    <tr>
      <th>Autor</th>
      <th>Comentario</th>
      <th>Título Noticia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.author %></td>
        <td><%= comment.body %></td>
        <td><%= comment.new_item.title %></td>
        <td><%= link_to 'Mostrar', comment %></td>
        <td><%= link_to 'Editar', edit_comment_path(comment) %></td>
        <td><%= link_to 'Eliminar', comment, method: :delete, data: { confirm: '¿Estás seguro que deseas eliminar este Comentario?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear comentario', new_comment_path %>
