<!DOCTYPE html>
<html lang="en">

<%= render "layouts/header" %>


<body>

    <!-- Navigation -->

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-md-8">
                <%= form_for(news_item) do |f| %>
                  <% if news_item.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(news_item.errors.count, "error") %> prohibited this news_item from being saved:</h2>

                      <ul>
                      <% news_item.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>

                  <div class="control-group form-group">
                      <div class="controls">
                          <%= f.label :título %>
                          <%= f.text_field :title, class: 'form-control' %>
                      </div>
                  </div>

                  <div class="control-group form-group">
                      <div class="controls">

                          <%= f.label :bajada %>
                            <p style="text-align: right;">caracteres disponibles:
                              <span id="counter" data-maximum-length="<%= @maximum_length %>">
                                <%= @maximum_length - @current_length %>  
                              </span>
                            </p>
                          <%= f.text_area :lead, maxlength: @maximum_length, 
                                          id: 'lead', class: 'form-control',
                                          rows: '5', cols: '100'%>
                      </div>
                  </div>

                  <div class="control-group form-group">
                      <div class="controls">
                          <%= f.label :cuerpo %>
                          <%= f.text_area :body, id: 'body', class: 'form-control',
                                          rows: '15', cols: '100'%>
                      </div>
                  </div>

                  <div class="actions">
                    <p style="text-align: right;">
                    <%= f.submit :Guardar, class: "btn btn-primary"%>
                    <p>
                  </div>
                <% end %>
            </div>


        </div>

        <%= render "layouts/footer" %>


</body>

<script type="text/javascript">
  var review_text = $("#lead");
  var counter     = $("#counter");
  var max_length  = counter.data("maximum-length");

  review_text.keyup(function() {
      counter.text(max_length - $(this).val().length);
  });
</script>>

</html>






