<!DOCTYPE html>
<html lang="en">

<%= render "layouts/header" %>


<body>

    <!-- Navigation -->
    <%= render "layouts/navbar",  title: 'Noticias publicadas', 
    admin: false,
    index: true%>


    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Noticias publicadas
                </h1>
            </div>


            <div style="text-align: right;">
                <a role="button" href="<%= new_news_item_path %>" class="btn btn-warning">Crear noticia</a>
            </div>
            

            <table  class="table table-hover" cellspacing="0" width="100%">
                <thead>
                    <tr>
                      <th>#</th>
                      <th>Título</th>
                      <th>Bajada</th>
                      <th>Cuerpo</th>
                      <th>Creado</th>
                      <th></th>
                  </tr>
              </thead>

              <tbody id="news-table">
                  <% @news_items.each_with_index do |news_item, _index| %>
                  <tr>
                      <td><%= _index %></td>
                      <td><%= news_item.title %></td>
                      <td><%= news_item.lead %></td>
                      <td><%= news_item.body %></td>
                      <td><%= news_item.created_at.strftime("%Y-%m-%d %H:%M:%S")  %></td>
                      <td><%= link_to  news_item.comments.count, new_news_item_comment_path(news_item.id, _index: true, _admin: true)%> <i class="fa fa-comments-o "></i></td>


                      <td><%= link_to  'Mostrar', new_news_item_comment_path(news_item.id, _index: true, _admin: true) %> <i class="fa fa-plus-square-o" aria-hidden="true"></i>


                      <td><%= link_to 'Editar', edit_news_item_path(news_item) %> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      </td>
                      <td><%= link_to 'Eliminar', news_item, method: :delete, 
                        data: { confirm: '¿Estás seguro que deseas eliminar esta noticia?' } %> <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>

        <div class="col-md-12 text-center">
         <ul class="pagination pagination-lg pager" id="myPager"></ul>
     </div>

     <!-- Footer -->
     <%= render "layouts/footer" %>


 </div>
 <!-- /.container -->

 <!-- jQuery -->
 <script src="js/jquery.js"></script>
 <!-- Bootstrap Core JavaScript -->
 <script src="js/bootstrap.min.js"></script>
 
 <script type="text/javascript">
    $('#news-table').pageMe({pagerSelector:'#myPager',showPrevNext:true,hidePageNumbers:false,perPage:20});
</script>
</body>

</html>


