<%= form_for(new_item) do |f| %>
  <% if new_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(new_item.errors.count, "error") %> prohibited this new_item from being saved:</h2>

      <ul>
      <% new_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :título %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :bajada %>
      Caracteres disponibles: 
      <span id="counter" data-maximum-length="<%= @maximum_length %>">
        <%= @maximum_length - @current_length %>  
      </span>
    <br>
    <%= f.text_area :lead, maxlength: @maximum_length, id: 'lead'%>
  </div>




  <div class="field">
    <%= f.label :cuerpo %>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit :Guardar%>
  </div>
<% end %>


<script>
    $(document).ready(function() {
      var review_text = $("#lead");
      var counter     = $("#counter");
      var max_length  = counter.data("maximum-length");

      review_text.keyup(function() {
          counter.text(max_length - $(this).val().length);
      });

    });
</script>