<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @new_item.title %>
</p>

<p>
  <strong>Bajada:</strong>
  <%= @new_item.lead %>
</p>

<p>
  <strong>Cuerpo:</strong>
  <%= @new_item.body %>
</p>

<%= link_to 'Editar', edit_new_item_path(@new_item) %> |
<%= link_to 'Volver', new_items_path %>
