<!DOCTYPE html>
<html lang="en">

<%= render "layouts/header" %>

<body>


    <%= render "layouts/navbar",  title: '¡Últimas noticias!',
    admin: true,
    index: false%>



    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <% @news_items.each_with_index do |news_item, _index| %>
            <li data-target="#myCarousel" data-slide-to="<%= _index %>" ></li>
            <% end %>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Titulares');"></div>
                <div class="carousel-caption">
                </div>
            </div>
            <% @news_items.each do |news_item| %>
            <div class="item">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=<%= news_item.title %>');"></div>
                <div class="carousel-caption">
                    <h2>Titulares</h2>
                </div>
            </div>
            <% end %>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>


    </header>

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    ¡Últimas noticias!
                </h1>
            </div>

            <% @news_items.each do |news_item| %>
            
            <div class="col-lg-10 col-lg-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-chevron-circle-up"></i> <%= news_item.title %></h4>
                        <div style="text-align: right;">
                         <%= news_item.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
                     </div>
                 </div>
                 <div class="panel-body">
                    <%= news_item.lead %>
                </div>

                <div class='row'>
                  <div class='col-lg-8 col-lg-offset-2'>
                    <hr>
                </div>
            </div>

              <%= form_for(news_item) do |f| %>
              <div class="control-group form-group">
                <div class="controls">
                  <%= f.text_area :body, class: 'form-control',
                  cols: '100', :readonly=>true%>
                </div>
              </div>
              <% end %>

            <div class="panel-footer">
             <div>
                 <%= link_to "#{news_item.comments.count} ", news_item_comments_path(news_item.id, _index: true, _admin: false) %> 
                 <i class="fa fa-comments-o "></i>
                 
             </div>

             <div style="text-align: right;"> <i class="fa fa-plus-square-o" aria-hidden="true"></i>

                 <%= link_to  'Ver más', new_news_item_comment_path(news_item.id, _index: true, _admin: false) %>
             </div>


         </div>
     </div>
 </div>

 <% end %>


</div>
<!-- /.row -->

<!-- Footer -->
<%= render "layouts/footer" %>


</div>
<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval: 3000 //changes the speed
    })


    $(function() {
        $('textarea').each(function() {
            $(this).height($(this).prop('scrollHeight'));
        });
    });

</script>

</body>

</html>


