<h1>Noticias online</h1>

<%= link_to  'Vista administrador', news_items_path %>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Bajada</th>
      <th>Cuerpo</th>
      <th>Creado</th>
      <th>Comentarios</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @news_items.each do |news_item| %>
      <tr>
        <td><%= news_item.title %></td>
        <td><%= news_item.lead %></td>
        <td><%= news_item.body %></td>
        <td><%= news_item.created_at %></td>
        <td><%= link_to  news_item.count_comments, news_item_comments_path(news_item.id)%></td>
        <td><%= link_to 'Mostrar', news_item %></td>
      </tr>
    <% end %>
  </tbody>
</table>